include README.md
include LICENSE

include lauetoolsnn/*.py
include lauetoolsnn/*.txt
include lauetoolsnn/*.png
include lauetoolsnn/*.npz
include lauetoolsnn/*.ini

include lauetoolsnn/examples/ZnCUOCl/*.py
include lauetoolsnn/examples/ZnCUOCl/*.txt
include lauetoolsnn/examples/ZnCUOCl/*.det
include lauetoolsnn/examples/ZnCUOCl/*.tif

include lauetoolsnn/examples/GaN_Si/*.py
include lauetoolsnn/examples/GaN_Si/*.txt
include lauetoolsnn/examples/GaN_Si/*.det
include lauetoolsnn/examples/GaN_Si/*.tif

include lauetoolsnn/multi_mat_LaueNN/*.py
include lauetoolsnn/multi_mat_LaueNN/*.md

include lauetoolsnn/example_notebook_scripts/*.ipynb
include lauetoolsnn/example_notebook_scripts/*.md
#include lauetoolsnn/example_notebook_scripts/py_scripts/*.py

include lauetoolsnn/util_scripts/*.py
include lauetoolsnn/util_scripts/*.m
include lauetoolsnn/util_scripts/*.ipynb

include lauetoolsnn/lauetools/*.py
include lauetoolsnn/lauetools/*.json

include lauetoolsnn/developments/*.py

recursive-include lauetoolsnn/*.*