matplotlib==3.5.1
Keras
numpy
h5py
tensorflow
PyQt5
scikit-learn
fabio
networkx
scikit-image
tqdm
scipy

#matplotlib==3.5.1
#Keras==2.8.0
#numpy==1.22.3
#h5py==3.6.0
#tensorflow==2.8.0
#PyQt5==5.15.4
#scikit-learn==0.24.2
#fabio==0.13.0
#networkx==2.6.3
#scikit-image==0.18.0
#tqdm==4.60.0
#scipy==1.8.0

#pip install tables, pandas
#https://github.com/titusjan/argos